.board {
  display: grid;
  gap: 30px;
  padding: 4rem;
  border: 8px solid;
  border-color: azure;
  background-size: 900px;
  background-position: center;
}

@media (max-width: 768px) {
  .board {
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
